name: Build

on:
  push:
    branches-ignore: [main]

env:
  GOPROXY: https://proxy.golang.org

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Cancel Previous Actions
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5

      - uses: ./.github/workflows/composite-actions/lint

  unit-tests:
    needs: [lint]
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Cancel Previous Actions
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v5

      - uses: ./.github/workflows/composite-actions/unit-tests
