name: Build

on:
  push:
    branches-ignore: [main]

env:
  GOPROXY: https://proxy.golang.org

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: ./.github/workflows/composite-actions/lint

  unit-tests:
    needs: [lint]
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - uses: ./.github/workflows/composite-actions/unit-tests
